@import "~fullpage.js/dist/fullpage.min.css";
.title {
  font-family: cursive;
  font-size: 4vw;
  top: 20%;
  color: white;
}
.contenedor{
  position: relative;
  width: 100%;
  background-image: url("../../../assets/images/about-me.jpg");
  height: 100%;
}
.paragraph {
  color: white;
  width: 50%;
  line-height: 100%;
  height: 50%;
  font-size: 2.6vw;
  margin-left: 1%;
  left: 0;
  font-family: serif;
  position: absolute;
}
.tecnologies {
  height: 45%;
  width: 40%;
  top: 30%;
  position: absolute;
  margin-left: 3%;
}
.content-skills {
  text-align: center;
}
.images {
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
  opacity: 1;
}
.image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-attachment: fixed;
}
.images-skill{
  position: absolute;
  left: 50%;
  top: 50%;
}
.progress{
  height: 20px;
}

@media screen  and (max-width: 480px) {
  .paragraph{
    width: 100%;
    font-size: 5vw;
    top: 5%;
  }
  .title{
    font-size: 7vw;
  }
  .tecnologies{
    top: 40%;
  }
  .tecnologies{
    width: 100%;
    margin-left: 0; 
    top: 60%;
    left: 0;
  }
}
  