@import url('https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap');
.who {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 30%;
  color: rgba(255, 255, 255, 0.979);
  transform: translate(-50%,-30%);
  font-family: 'Acme', sans-serif;
  font-size: 7vw;
}
.contenedor {
  position: absolute;
  width: 100%;
  height: 100%;
}
.who2 {
  position: absolute;
  top: 60%;
  left: 30%;
  color: white;
  transform: translate(-50%, -20%);
  font-family: serif;
  font-size: 3vw;
  font-family: 'Righteous', cursive;
}

@media screen  and (max-width: 480px) {
  .who2{
    font-size: 5vw;
    left: 50%;
    top: 25%;
    text-align: center;
  }
  .who{
    font-size: 10vw;
    top: 10%;
    left: 50%;
  }
  .contenedor{
    background-image: url("../../../assets/images/i-am-mobile.jpg");
  }
}