<div class="container contenedor" style="align-items: center">
  <p class="title" style="font-size: 2vw">Contact me</p>
  <div class="form">
    <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input
        type="name"
        class="form-control"
        id="name"
        placeholder="cristian"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="example@gmail.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >message</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
  </div>
</div>
<app-footer></app-footer>
