.contenedor{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/contact-me.jpg");
}
.form{
    left: 34%;
    text-align: left;
    position: absolute;
    width: 35vw;
    top: 20%;
}
.title{
    top: 10%;
    position: absolute;
    text-align: center;
    left: 41%;
    font-size: 4vw;
}


@media screen  and (max-width: 480px) {
    .form{
        width: 90%;
    }
    .contenedor{
        left: 0;
    }
    .title{
        font-size: 8vw;
        left: 30%;
    }
    .contenedor{
        top: 3%;
    }
}